*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* flex option for all section start*/
.flex{
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    
   
}
/* flex option for all section finish*/

.description{
    padding-top:150px;
    
}
.description p{
    padding-top:20px; 
    margin-right:100px;
    
}
.half-width{
    width: 50%;
    margin: 0 10px;
}
.half-width h1{
    font-size: 60px;
    color:#575757;
    text-transform: capitalize;

}
.half-width a{
   color:white;
   text-decoration: none;
   font-size: 20px;
   padding: 15px 20px;
    display: inline-block;
   border-radius: 50px;
   background-image: radial-gradient( circle 597px at 93% 9.8%,  rgba(255,61,89,1) 1.7%, rgba(252,251,44,1) 97% );
   box-shadow: 5px 5px 20px gray;

}
.half-width img{
    width: 100%;
}

.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-section a{
   margin-top:70px;
}

.count-section{
    margin: 50px;
    box-shadow: 1px 1px 10px gray;
    padding: 50px 0;
    border-radius: 10px;
}
.count-section h1{
    font-size: 55px;
    font-weight:900;
    padding-bottom: 10px;
}

/* recipies section strat */

.recipies-section{
    padding:20px 0;
    margin: 2%;
    
}
.recipies-section h1{
    text-align:center;
    padding: 35px 0;
    font-size: 36px;
    color:#575757;
    
}
.recipies-section p{
    text-align:center;
    margin: 20px 0;
    
}
.recipies_blog img{
    width: 350px;
    height: 250px;
    background-size: cover;
    
}
.recipies_blog div{
    box-shadow: 5px 5px 20px gray;
    border-radius: 25px;
    margin: 20px  ;
    text-align: center;
   
}
.recipies_content p,img{
    text-align: left;
    padding: 20px ;
}
.recipies_content h1{
    font-weight: 700px;
    font-size: 40px;
    text-align: left;
    color:black;
    padding:0 20px;
    
}

/* recipies section finish  */


/* footer section start */
footer{
    background-color:black;
    padding: 50px 0;
   text-align: center;
   font-size: 16px;
   color:aliceblue ;
    
}
footer h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    
}


/* footer section finish */

/* last/extra section start */

.last_sction{
    background-image: url(images/bgphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:250px 0;}

.last_sction h1{
color: white;
text-transform: uppercase;
font-size: 70px;
font-weight: 900px;
text-align:center;
}
.last_sction p{
color: wheat;
text-transform: capitalize;
font-size: 50px;
text-align:center;
}
.last_sction span{
    padding-left:100px;
}
/* last/extra section finish */
