body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-around;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}

.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
